
<div id="main">
<div class="container">
<div class="container title-container">
  <script src="js/script.js"></script>
<h1 class="ml1">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letter" id="beast-title-text">Beast Mode!</span>
    <span class="line line2"></span>
  </span>
</h1>
</div>
<p class="text-white" ><span class="beast-text-white">Beast</span> Mode! is designed for your everyday workout needs.  During this time of quarantine, we must all do our part to stay <span class="beast-text-white">Beasted</span>. </p>
</div>       

        <br>
        <div class="container">

        <h2 class="beast-team text-center text-white">Beast Team</h2>
        </div>
        <br>
        <div class="flex-group-name-container container">
            
            <div class="group-name-container abir-container">
                <h4>Abir</h4>
                <img src="/assets/images/abir.jpg" class="group-member-image img-rounded">
<a class="btn-floating btn-sm btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>


            </div>
            <div class="group-name-container austin-container">
                <h4>Austin</h4>
                <img src="/assets/images/austin.jpg" class="group-member-image img-rounded">
            </div>
            <div class="group-name-container brus-container">
                <h4>Brus</h4>
                <img src="/assets/images/brus.png" class="group-member-image img-rounded">
            </div>
            <div class="group-name-container jervis-container">
                <h4>Jervis</h4>
                <img src="/assets/images/jervis.jpg" class="group-member-image img-rounded">
            </div>
<div class="group-name-container mustapha-container">
                <h4>Mustapha</h4>
                <img src="/assets/images/muss.jpg" class="group-member-image img-rounded">
            </div>

        <div class="group-name-container mustapha-container">
                <h4>Marshawn</h4>
                <img src="https://media.giphy.com/media/PQohNKbHCitdS/giphy.gif" class="group-member-image img-rounded">
            </div>
        </div>

        </div>