<form method="POST" action="/newworkout">

<div class="container title-container">
  <script src="js/script.js"></script>
<h1 class="ml1">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letter" id="beast-title-text">Beast Mode!</span>
    <span class="line line2"></span>
  </span>
</h1>
</div>
<br>

<div class="container index-container">
    <h3>How Long Do You Want To <span class="beast-text">BEAST!</span> For?</h3>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="5">5 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="10">10 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="15">15 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="20">20 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="25">25 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="30">30 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="45">45 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="60">60 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="75">1 hour 15 minutes</label>
    <label class="radio-inline"><input type="radio" name="workoutDuration" value="90">1 hour 30 minutes</label>
</div>
<br>
    
    <div class="container index-container">
        <h3>Select Muscle Groups to <span class="beast-text">BEAST!</span></h3>
        <br>
        <h5>Upper Body</h5>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="shoulders">Shoulders</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="chest">Chest</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="bicep">Biceps</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="tricep">Triceps</label>
        
        <br><br>
        <h5>Core</h5>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="oblique">Obliques</label>
        
        <br><br>
        <h5>Lower Body</h5>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="hamstrings">Hamstrings</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="glutes">Glutes</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="outer Thigh">Outer Thigh</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="inner Thigh">Inner Thigh</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="quads">Quads</label>
        <label class="checkbox-inline"><input type="checkbox" name="muscleGroup" value="calves">Calves</label>
                   
    </div>

<br>
  
    {{!-- <div class="container"> --}}
        <div class="row">
            <div class="col text-center">
                <button type="submit" id="submitWorkoutParameters" value="FIRE UP!">FIRE UP!</button>
            </div>
        </div>
    {{!-- </div> --}}

</form>


<script>
{{!-- This is the script for the scrolling text --}}
var textWrapper = document.querySelector('.ml1 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml1 .letter',
    scale: [0.3,1],
    opacity: [0,1],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 600,
    delay: (el, i) => 70 * (i+1)
  }).add({
    targets: '.ml1 .line',
    scaleX: [0,1],
    opacity: [0.5,1],
    easing: "easeOutExpo",
    duration: 700,
    offset: '-=875',
    delay: (el, i, l) => 80 * (l - i)
  }).add({
    targets: '.ml1',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });


</script>
