<div class="container workout-holder">



{{#each workouts}}
      {{#each this}}
        <ol>
       <p>Exercise: {{this.dataValues.exercise}}</p>
       <p>Sets: {{this.dataValues.sets}}</p>
       <p>----------</p>
       </ol>
        
      {{/each}}
{{/each}}
</div>