.container {
    text-align: center;
    background-color: #cccccc;
    padding: 2%;
}

.title-container {
    background-color: transparent;
}

.navbar {
    margin-bottom: 7%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-color: #cccccc;
}

.workout-holder {
    color: white;
}

.timer-container {
    background-color: black;
    font-size: 20px;
    color: white;
    border: white solid 1px;
    width: 300px;
    padding: 0%;
    margin: auto;
    padding-top: 1%;
}

#submitWorkoutParameters {
    width: 750px;
    height: 50px;
    color: white;
    border: white 3px solid;
    background-color: black;
    font-size: 24px;
    font-weight: bold;
}

.ml1 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.letter {
    font-size: 100px;
    color: white;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    margin: auto;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}

.beast-text {
    font-weight: bolder;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/* formatting for the about page here */

.flex-group-name-container {
    display: flex;
    justify-content: space-evenly;
}

.group-name-container {
    flex-basis: 15%;
    height: 200px;
    /* background-color: tomato; */
    text-align: center;
    padding-top: 0.5rem;
    font-weight: bold;
    border: white solid 1px;
    background-color: black;
    color: white;
}


/* .jervis-container {
    background-color: blanchedalmond;
}

.abir-container {
    background-color: lightskyblue;
}

.austin-container {
    background-color: lightgreen;
}

.brus-container {
    background-color: grey;
}

.mustapha-container {
    background-color: tomato;
}

.group-member-image {
    max-height: 140px;
    border-radius: 20%;
}
 */